@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
    margin: 0;
    padding: 0;
}

.row {
    line-height: 0;
}

.wall {
    background-color: rgb(144,123,38); 
    height: 50px;
    width: 50px;
    display: inline-block;
}

.breakable_rock {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("/static/images/breakable_rock.png");
    background-color: rgb(75 109 73);
    background-size: contain;
}

.solid_rock {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("/static/images/solid_rock.png");
    background-color: rgb(75 109 73);
    background-size: contain;
}	

.fruit {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("/static/images/fruit.png");
    background-color: rgb(75 109 73);
    background-size: contain;
}	

.blank {
    background-color: rgb(13,9,10); 
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("/static/images/grass_tile.png");
}

#donta {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("/static/images/user_sprite/donta_front_walk.png");
}

#droma1 {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("/static/images/enemy_sprite/enemy_front_walk.png");
}

#droma2 {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("/static/images/enemy_sprite/enemy_front_walk.png");
}

#droma3 {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("/static/images/enemy_sprite/enemy_front_walk.png");
}

#droma4 {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("/static/images/enemy_sprite/enemy_front_walk.png");
}


#score {
    background-color: rgb(13,9,10); 
    color: rgb(133,68,45);
    border: 4px rgb(185,208,56) solid;
    font-weight: bold;
    font: 20px "Times New Roman", times, serif;
    height: 40px;
    width: 196px;
    display: inline-block;
    clear: left;
}

#lives {
    background-color: rgb(13,9,10); 
    color:  rgb(133,68,45);
    border: 4px  rgb(185,208,56) solid;
    font-weight: bold;
    font: 20px "Times New Roman", times, serif;
    height: 40px;
    width: 184px;
    display: inline-block;
    clear: right;
}
#score-count{		
}
#life-count{
}
